!-------------------------------------------------------------------------------
! My Settings
! -------------------------------------------------------------------------------

urxvt.depth: 32
urxvt.background: #ffffff
/* ! Appearance */
urxvt.termName: rxvt-unicode
urxvt.scrollBar: false
urxvt.foreground: black
/* !! Font prefferenes */
urxvt.font: xft:DejaVu Sans Mono:pixelsize=25
urxvt.boldFont: xft:DejaVu Sans Mono:pixelsize=25:weight=bold
urxvt.letterSpace: -1
/* !! Larger history limit */
urxvt.saveLines: 1000000

/* !! Perl extensions */
urxvt.perl-ext-common: default,matcher,font-size,fullscreen
/* !! Open urls in browser with Control-Click */
urxvt.urlLauncher: /usr/bin/chromium-browser
urxvt.matcher.button: C1
/* !! Change font size on Control-Plus/Minus */
URxvt.keysym.Control-0x2b: perl:font-size:increase
URxvt.keysym.Control-0x2d: perl:font-size:decrease

/* !! Fullscreen */
urxvt.keysym.F11: perl:fullscreen:switch

/* !! HiDPI configuration (144 for Surface) */
!! for surface
Xft.dpi: 144


!-------------------------------------------------------------------------------
! Color Settings
!-------------------------------------------------------------------------------

!! Luke Smith
!URxvt.color0: rgb:00/00/00
!URxvt.color1: rgb:CC/00/00
!URxvt.color2: rgb:4E/9A/06
!URxvt.color3: #9b870c  !Normal yellow: Dark yellow
!URxvt.color4: rgb:34/65/A4
!URxvt.color5: rgb:75/50/7B
!URxvt.color6: rgb:06/98/9A
!URxvt.color7: rgb:D3/D7/CF
!URxvt.color8: rgb:55/57/53
!URxvt.color9: rgb:EF/29/29
!URxvt.color10: rgb:8A/E2/34
!URxvt.color11: #9b870c  !Light yellow: Dark yellow
!URxvt.color12: rgb:72/9F/CF
!URxvt.color13: rgb:AD/7F/A8
!URxvt.color14: rgb:34/E2/E2
!URxvt.color15: rgb:EE/EE/EC
!URxvt.colorBD: rgb:ff/ff/ff


!!Source http://github.com/altercation/solarized

!! black dark/light
*color0: #073642
*color8: #002b36

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #586e75

!! yellow dark/light
*color3: #b58900
*color11: #657b83

!! blue dark/light
*color4: #268bd2
*color12: #839496

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3
