!-------------------------------------------------------------------------------
! My Settings
! -------------------------------------------------------------------------------

urxvt.depth: 32
urxvt.background: #ffffff
/* ! Appearance */
urxvt.termName: rxvt-unicode
urxvt.scrollBar: false
urxvt.foreground: black
!! Font prefferenes
urxvt.font: xft:DejaVu Sans Mono:pixelsize=15
urxvt.boldFont: xft:DejaVu Sans Mono:pixelsize=13:weight=bold
urxvt.letterSpace: -1
/* !! Larger history limit */
urxvt.saveLines: 1000000

/* !! Perl extensions */
urxvt.perl-ext-common: default,matcher,font-size,fullscreen
/* !! Open urls in browser with Control-Click */
urxvt.urlLauncher: /usr/bin/chromium-browser
urxvt.matcher.button: C1
/* !! Change font size on Control-Plus/Minus */
URxvt.keysym.Control-0x2b: perl:font-size:increase
URxvt.keysym.Control-0x2d: perl:font-size:decrease

/* !! Fullscreen */
urxvt.keysym.F11: perl:fullscreen:switch

/* !! HiDPI configuration (144 for Surface) */
!! for surface
!Xft.dpi: 144


!------------------------------------------------------------------------------- ! Color Settings
!-------------------------------------------------------------------------------

!! Luke Smith
!urxvt.color0: rgb:00/00/00
!urxvt.color1: rgb:cc/00/00
!urxvt.color2: rgb:4e/9a/06
!urxvt.color3: #9b870c  !normal yellow: dark yellow
!urxvt.color4: rgb:34/65/a4
!urxvt.color5: rgb:75/50/7b
!urxvt.color6: rgb:06/98/9a
!urxvt.color7: rgb:d3/d7/cf
!urxvt.color8: rgb:55/57/53
!urxvt.color9: rgb:ef/29/29
!urxvt.color10: rgb:8a/e2/34
!urxvt.color11: #9b870c  !light yellow: dark yellow
!urxvt.color12: rgb:72/9f/cf
!urxvt.color13: rgb:ad/7f/a8
!urxvt.color14: rgb:34/e2/e2
!urxvt.color15: rgb:ee/ee/ec
!urxvt.colorbd: rgb:ff/ff/ff


!!source http://github.com/altercation/solarized

!! black dark/light
*color0: #073642
*color8: #002b36

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #586e75

!! yellow dark/light
*color3: #b58900
*color11: #657b83

!! blue dark/light
*color4: #268bd2
*color12: #839496

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3

!!source https://github.com/Mayccoll/Gogh/blob/master/themes/clrs.sh
!urxvt.color0: #000000
!urxvt.color1: #f8282a
!urxvt.color2: #328a5d
!urxvt.color3: #fa701d
!urxvt.color4: #135cd0
!urxvt.color5: #9f00bd
!urxvt.color6: #33c3c1
!urxvt.color7: #b3b3b3
!urxvt.color8: #555753
!urxvt.color9: #fb0416
!urxvt.color10: #2cc631
!urxvt.color11: #fdd727
!urxvt.color12: #1670ff
!urxvt.color13: #e900b0
!urxvt.color14: #3ad5ce
!urxvt.color15: #eeeeec
!urxvt.colorbd: rgb:ff/ff/ff


